<div *ngIf="!isUserLoggedIn" class="p-3 mb-2 bg-light text-dark container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div  class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label> &nbsp;
            <input type="email" formControlName="email"  id="exampleInputEmail1" aria-describedby="emailHelp">
            <div class="alert alert-danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">Email is Required</div>
            <div class="alert alert-danger" *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">Email is invalid</div>
        </div><br>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label> &nbsp;
            <input formControlName="password" type="password" id="exampleInputPassword1">
            <div class="alert alert-danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">Password is Required</div>
            <div class="alert alert-danger" *ngIf="loginForm.get('password')?.hasError('maxlength') && loginForm.get('password')?.touched">password max length should not exceed 10 characters</div>
            <div class="alert alert-danger" *ngIf="loginForm.get('password')?.hasError('passwordStrength') && loginForm.get('password')?.touched">
                Your password must have only lower case characters.
            </div>
        </div><br>
        <!-- <div class="mb-3">
            <label for="exampleInputPassportNo1" class="form-label">PassportNo</label> &nbsp;
            <input type="text" formControlName="passportNo"  id="exampleInputPassportNo1">
            <div class="alert alert-danger" *ngIf="loginForm.get('passportNo')?.hasError('passportInvalid') && loginForm.get('passportNo')?.touched">Passport number is invalid, it should have 3  capital letters and 7 digits</div>
            <div class="alert alert-danger" *ngIf="loginForm.get('passportNo')?.hasError('required') && loginForm.get('passportNo')?.touched">Passport number is required</div>
        </div><br> -->
        <button  type="submit" >Login</button>

        <!-- <button  type="submit" class="btn btn-success" style="margin-bottom: 10px;" [disabled]="loginForm.invalid">Login</button> -->
        <div><a [routerLink]="['../register']" style="color:red">Register</a></div>
        
    </form><br>
    <!-- <div>
        Login status of User:-- {{isUserLoggedIn}}
    </div> -->
</div>
<!-- <ng-template #elseBlock>
    <div>User is logged in!</div>
</ng-template> -->
 <!-- <router-outlet></router-outlet>    -->
<!-- <app-account></app-account> -->