<app-header></app-header>
<h1>{{name |uppercase}}</h1>
<!-- <h1>{{name |lowercase}}</h1>
<h2>{{todaydate |date:'y/d/M'}}</h2>
<h2>{{22/7 |number:'3.2-2'}}</h2>
<h2>{{a| currency:'CAD'}}</h2>
<h3>{{a|currency:'CAD':'symbol':'4.2-2'}}</h3>
<h4>{{now}}</h4>  
<app-test></app-test> -->
<!-- <app-spinner></app-spinner><br> -->

<!-- <app-changeimage></app-changeimage> -->
<!-- <app-looping></app-looping>
<app-greeting></app-greeting> -->
<!-- <app-two-way></app-two-way>
<app-radio></app-radio>
<br>
<app-output-format></app-output-format> -->
<app-students></app-students>
<app-footer></app-footer>
