
<table class="table table-bordered table-hover">
    <thead>
        <tr>
       
            <th>ID</th>
            <th>UserID</th>
            <th>HobbyName</th>
           
    </thead>
    <tbody>
       
        <tr *ngFor="let hobby of hobbies"  >
            <td>{{hobby.ID}}</td>
            <td>{{hobby.UID}}</td>
            <td>{{hobby.HobbyName}}</td>
           
            <td>
                <span style="width:20px;"></span>
                <button type="button" class="btn btn-info" (click)="openUpdateHobbyModal(hobby)">Update Hobby</button>  
            </td>
        </tr>
    </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayHobbyModel}">
    <form [formGroup]="hobbyEditForm"  (ngSubmit)="updateHobby(hobbyEditForm)">
     <div class="modal-dialog" role="document">
           <div class="modal-content">
                 <div class="modal-header">
                       <h4 class="modal-title">Hobby</h4>
                       <button type="button" class="close" aria-label="Close" (click)="closeHobbyModal()"><span aria-hidden="true">&times;</span></button>
                     </div>
            <div class="modal-body">
                <label for="exampleInputEmail1" class="form-label">Enter New Hobby Name</label>
                <input type="text"  class="form-control" id="exampleInputEmail1" formControlName="updatedHobbyName"
                    aria-describedby="emailHelp" >
                    <div class="alert alert-danger" *ngIf="hobbyEditForm.get('updatedHobbyName')?.hasError('required') && (hobbyEditForm.get('updatedHobbyName')?.dirty || hobbyEditForm.get('updatedHobbyName')?.touched)">
                        Please provide a Hobby name.
                    </div>
                   

            </div>
            <div class="modal-footer">
                       <button type="submit" class="btn btn-default" >Update Hooby</button>
            </div>
        </div>
         </div>
        </form>
</div>

